.navigation{
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: rgb(24, 23, 23);
    overflow: hidden;
    
    position: sticky;
    position: -webkit-sticky;
    top:0;
}
.navigation li{
    /*display: inline;*/
    float: left;

}
li a ,.dropbtn{
    display: inline-block;
    color:white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
li a:hover ,.dropdown:hover .dropbtn{
         background-color: rgb(105, 38, 231);
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e71919;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    z-index: 1;
  }
  
.dropdown-content a:hover {background-color: #bd0c0c;}
  
.dropdown:hover .dropdown-content {
    display: block;
  }
.dropdown-content a{
    color:black;
    display: block;
    text-decoration: none;
    padding:10px;
    text-align: left;
}